body{
    background-color: black;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    display: block;
}

.container{
    display:flex ;
    justify-content: center;
}

.list-picture{
    display: flex;
    gap:60px;
}

.picture-and-text{
    display: block;
    width: 450px;
    max-height: 359px;
    position: relative;
    background-color: rgb(36, 97, 97);
    overflow: hidden;
}

.nice-lily{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 70px;
    transition: 1s;
    color: white;
}

.text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    color: rgb(0, 0, 0);
    transition: 1s;
    bottom: -30px;
}

img{
    position: relative;
    left: -30px;
    transition: 1s;
    opacity: 10;
}

li.picture-and-text:hover{
    .text{
        bottom: 50px;
        color: white;
    }
    .nice-lily{
        bottom: 80px;
    }
    img{
        left: 0;
        opacity: 0.7;
    }
}
